<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

  <div id = "cuerpo" style="background-color: aquamarine;">
    <div class="container-fluid">
        <div class ="row" style="margin-left:250px; margin-right: 250px; border: 2px solid grey">
            <nav class="navbar navbar-light bg-light justify-content-between">
                <center>
                <H1 style="margin-left:20px">HELADERIA ICE-CREAM (MALTEADAS)</H1>
            </center>
            <form class="form-inline" style="margin-right: 150px;" action ="/heladeria">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >VOLVER A LA PÁGINA</button>
                </form>
              </nav>
        </div>
        <br>
    </br>
        <div class="container" style="margin-left:200px; margin-right: 250px; border: 2px solid grey" >
        <form action = "/carrito">
            <div class="row">
              <div class="col-sm-4">
                <img class = "mvainilla" src="/public/assets/mvainilla.jpg" width="200px" height="179px"  >     
                <a>Malteada Vainilla</a>
                <input type ="checkbox">
              </div>
              <div class="col-sm-4">
                <img class = "mfresa" src="/public/assets/mfresa.jpg" width="200px" height="179px"  > 
                <a>Malteada Fresa</a>
                <input type ="checkbox"></div>
              <div class="col-sm-4">
                <img class = "mchocolate" src="/public/assets/mchocolate.jpg" width="200px" height="179px"  > 
                <a>Malteada Chocolate</a>
                <input type ="checkbox"></div>
            </div>
          </div>
          <br>
            </br>
          <div class="container" style="margin-left:200px; margin-right: 250px; border: 2px solid grey">
            <div class="row">
              <div class="col order-last">
                <img class = "marequipe" src="/public/assets/marequipe.png" width="200px" height="179px"  >     
                <a>Malteada Arequipe</a>
                <input type ="checkbox">
              </div>
              <div class="col">
                <img class = "mchicle" src="/public/assets/mchicle.jpg" width="200px" height="179px"  >     
                <a>Malteada Chicle</a>
                <input type ="checkbox">
              </div>
              <div class="col order-first">
                <img class = "moreo" src="/public/assets/moreo.jpg" width="200px" height="179px"  >     
                <a>Malteada Oreo</a>
                <input type ="checkbox">
               </div>
            </div>
          </div>
          <br>
            </br>
          <div class="container" style="margin-left:200px; margin-right: 250px; border: 2px solid grey">
            <div class="row">
              <div class="col order-last">
                <img class = "mfrutas" src="/public/assets/mfrutas.jpg" width="200px" height="179px"  >     
                <a>Malteada Frutas</a>
                <input type ="checkbox">  
              </div>
              <div class="col">
                <img class = "mavena" src="/public/assets/mavena.jpg" width="200px" height="179px"  >     
                <a>Malteada Avena</a>
                <input type ="checkbox">  
              </div>
              <div class="col order-first">
                <img class = "mcafe" src="/public/assets/mcafe.jpg" width="200px" height="179px"  >     
                <a>Malteada Café</a>
                <input type ="checkbox">               </div>
            </div>
          </div>
       
    </div>

    <br>
</br>
        <center>
            <input type = "submit" value ="GUARDAR">
        </center>
  </div>

  
</form>


</html>